<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ResourcePaths" type="System.Configuration.NameValueSectionHandler" />
    <section name="FileNames" type="System.Configuration.NameValueSectionHandler" />
    <section name="Variables" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <ResourcePaths>
    <add key="Files" value="EdSofta\EdSofta SSCE\" />

    <add key="Resources" value="EdSofta\EdSofta SSCE\Content\" />
    <add key="ContentFiles" value="EdSofta\EdSofta SSCE\Content\" />
    <add key="StudyMaterials" value="EdSofta\EdSofta SSCE\Content\Study\" />
    <add key="GameResources" value="EdSofta\EdSofta SSCE\Content\Game\" />

    <add key="UserData" value="EdSofta\EdSofta SSCE\UserData\" />
    <add key="Proficiency" value="EdSofta\EdSofta SSCE\UserData\Practice\" />
    <add key="Study" value="EdSofta\EdSofta SSCE\UserData\Study\" />

    <add key="Temp" value="EdSofta\EdSofta SSCE\Temp\"/>

    <add key="Assets" value="EdSofta\EdSofta SSCE\Assets\"/>
    <add key="ContentAssets" value="EdSofta\EdSofta SSCE\Assets\Content\"/>

    <add key="DbMigrations" value="EdSofta\EdSofta SSCE\DbMigrations\" />
  </ResourcePaths>

  <FileNames>
    <add key="Results" value="Results.json" />
    <add key="Topics" value="Topics.json" />
    <add key="GameProfessions" value="Profession.json" />
    <add key="Backup" value="_contentBackup.zip"/>
    <add key="AppData" value="AppData.json"/>
    <add key="Meta" value="meta.json"/>
    <add key="PackageDb" value="demoapp.sqlite"/>
    <add key="AppDb" value="app.sqlite"/>
  </FileNames>

  <Variables>
    <add key="RequiredDbVersion" value="1"/>
  </Variables>

  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=.\demoapp.db;Version=3;" providerName="System.Data.SqlClient"/>-->
    <add name="ApplicationDbContext" connectionString="Data Source=.\app.sqlite" providerName="System.Data.SQLite.EF6" />
    <add name="ApplicationDbContextMigration" connectionString="Data Source=.\app.sqlite" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite.EF6" /><add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>